<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318281364429-verdapm3iqjg7uf66tl9nb6b3u9gkaeo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318281364429-verdapm3iqjg7uf66tl9nb6b3u9gkaeo</string>
	<key>API_KEY</key>
	<string>AIzaSyAAdFr0jBYzLU-v1ZinJlijNiNDrJvxn6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>318281364429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plumbingDrain</string>
	<key>PROJECT_ID</key>
	<string>plumbing--drain-app</string>
	<key>STORAGE_BUCKET</key>
	<string>plumbing--drain-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318281364429:ios:df588d249bda3d1c638a84</string>
	<key>DATABASE_URL</key>
	<string>https://plumbing--drain-app.firebaseio.com</string>
</dict>
</plist>